@model IEnumerable<ProfileVM>
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a class="btn btn-info js-Model" data-title="Create Profile" href="javascript:;" data-url="/Person/Create" data-update="true"><i class="fa-solid fa-square-plus"></i>Add</a>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>Profile</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Birthday</th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> <img width="100" height="100" src="~/Files/Img/@item.Image" /></td>

                <td>@item.Email</td>
                <td>@item.PhoneNummber</td>
                <td>@item.Adress</td>
                <td>@item.Birthday</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-dark " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-sharp fa-solid fa-list"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item js-Model" data-title="Edit Profile" href="javascript:;" data-url="/Person/Edit/@item.ID" data-update="true">Edit</a></li>
                            <li><a class="dropdown-item js-Model" data-title="Delete Education" href="javascript:;" data-url="/Person/Delete/@item.ID" data-update="true">Delete</a></li>

                        </ul>
                    </div>
                </td>
            </tr>
        }


    </tbody>
</table>
<partial name="~/views/Model/_Model.cshtml" />


