@model LoginVM

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<section class="vh-100">
 
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="~/lib/retrosupply-jlwvautloaq-unsplash.jpg"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-action="Login" asp-controller="Account">
                     

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input asp-for="Email" type="email" id="form3Example3" class="form-control form-control-lg"
                               placeholder="Enter a valid email address" />
                        <label class="form-label" for="form3Example3">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" asp-for="Passward" id="form3Example4" class="form-control form-control-lg"
                               placeholder="Enter password" />
                        <label class="form-label" for="form3Example4">Password</label>
                    </div>


                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Login
                        </button>

                    </div>
                    @if (TempData["error"] != null)
                    {
                        <span class="text-danger fw-bold">@TempData["error"]</span>
                    }
                </form>
            </div>
        </div>
    </div>


    </div>
</section>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>