@model SkillsVM
<form asp-action="Edit" asp-controller="Skills" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" asp-for="Name" class="form-control">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>